<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                     <img alt="image" class="img-circle" src="img/bhagat.jpg"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Paediatric Cardiologist<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"> <span class="nav-label">Top Posts</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><span class="nav-label">Minor page</span></a>
            </li>
        </ul>

    </div>
</nav>